#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.form__create{
  display: flex;
  flex-direction: column;
  width: 550px;
  align-content: center;
  align-items: center;
}
.address{
  flex-direction: row;
  width: 550px;
}

.main-nav-logo-image{
  height:120px;
}
.title h1{
  margin-top: 120px;
  color: rgb(11, 110, 77);
  
}
.container h1{
  color: rgb(127, 247, 207);
  
}
.container h2{
  color: rgb(127, 247, 207);
  
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
